@import "../bower_components/gess/gess";

@include row('.conteudo', (100%, 50%, 50%), false);

.conteudo{
	width: 80%;
	margin: 0 auto;
}

#code{
	display:block;
	background-color:black;
	color:rgba(4, 234, 4, 1);
	width:100%;
	resize:none;
}